<!DOCTYPE html>
<html>
<head>
    <title>Создание задачи</title>
    <style>
        .error { color: red; }
    </style>
</head>
<body>
    <h1>Создание задачи</h1>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="post" action="/tasks/create/">
        <label>
            Название задачи:
            <input type="text" name="title" required>
        </label><br>

        <label>
            Статус:
<select name="status">
    <option value="Выполнено" {% if selected_status=="Выполнено" %}selected{% endif %}>Выполнено</option>
    <option value="В процессе" {% if selected_status=="В процессе" %}selected{% endif %}>В процессе</option>
    <option value="В планах" {% if selected_status=="В планах" %}selected{% endif %}>В планах</option>
  </select>
        </label><br>

        <label>
            Описание:
            <input type="text" name="description" required>
        </label><br>

              <label>Дата планирования:<input type="date" name="plan_date" required></label>
<br>

        <button type="submit">Создать задачу</button>
    </form>

</body>
</html>